<div class="flex flex-col items-center justify-center px-6 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-sky-100 rounded-lg shadow md:p-8 mb-6">
      <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
        <div class="text-gray-600">
          <p class="font-medium text-lg">Registro de Usuarios</p>
          <p>Eres una asociación? <a routerLink="/association-register" class="font-semibold leading-6 text-cyan-600 hover:text-cyan-500 ">Registro Asociaciones</a></p>
        </div>

      <form (ngSubmit)="registerUser()"  #registerForm="ngForm">
       <div class="lg:col-span-2">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">

            <!--Name-->
            <div class="md:col-span-5">
               <label for="name">Nombre Completo</label>
               <input type="text" [(ngModel)]="userCreate.name" name="name" #name="ngModel" id="name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" required/>

               <div  *ngIf="name.invalid && name.dirty"  class="rounded-md text-sm mt-5 bg-red-700 text-center text-white">
                <div  *ngIf="name.errors?.['required']">Campo requerido</div>
              </div>
            </div>

            <!--username-->
            <div class="md:col-span-5">
              <label for="username">Nombre de Usuario</label>
              <input type="text" name="username" id="username" [(ngModel)]="userCreate.username" #username="ngModel" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" required />

              <div  *ngIf="username.invalid && username.dirty"  class="rounded-md text-sm mt-5 bg-red-700 text-center text-white">
                <div  *ngIf="username.errors?.['required']">Campo requerido</div>
              </div>
            </div>

            <!--Email-->
            <div class="md:col-span-5">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" [(ngModel)]="userCreate.email" #email="ngModel" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" required/>

              <div  *ngIf="email.invalid && email.dirty"  class="rounded-md text-sm mt-5 bg-red-700 text-center text-white">
                <div  *ngIf="email.errors?.['required']">Campo requerido</div>
                <div  *ngIf="email.errors?.['email']">Email incorrecto</div>
              </div>

            </div>

            <!--Password-->
            <div class="md:col-span-2">
             <label for="password">Contraseña</label>
             <input type="password" name="password" id="password" [(ngModel)]="userCreate.password" #password="ngModel" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" required minlength="6"/>

             <div  *ngIf="password.invalid && password.dirty"  class="rounded-md text-sm mt-5 bg-red-700 text-center text-white">
              <div  *ngIf="password.errors?.['required']">Campo requerido</div>
              <div  *ngIf="password.errors?.['minlength']">Mínimo 6 caracteres</div>
            </div>

            </div>

            <!--Repeat Password-->
            <div class="md:col-span-2">
              <label for="repeatPass">Repetir Contraseña</label>
              <input type="password" name="repeatPass" id="repeatPass" [(ngModel)]="repeatPass" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" required/>

              <div  *ngIf="!checkCorrectPassword()"  class="rounded-md text-sm mt-5 bg-red-700 text-center text-white">
                <div>Contraseña Incorrecta</div>
              </div>

            </div>

            <div class="md:col-span-5 text-right mt-5">
              <div class="inline-flex items-end">
                <button type="submit" class="flex w-full justify-center rounded-md bg-cyan-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600 disabled:bg-gray-400 disabled:cursor-no-drop"
                [disabled]="!registerForm.form.valid || !checkCorrectPassword()">Registrarse</button>
              </div>
            </div>

          </div>
        </div>
      </form>


  </div>
</div>
</div>

